body {
    background-color: red;
    margin :0;

}

.parent { 
    height: 300px;
    width: 100%;   
    background-color: blue;
    margin: 200px 0px;
    display: flex;
    justify-content: center;
}

.parag {
    height: 100px;
    width: 100px;  
    margin: 10px;
    color: green;
    text-align: end;
    line-height: 100px;
}

.p-it1 {
    background-color: white;
}

.p-it2 {
    background-color: yellow;
} 

.p-it3 {
    background-color: black;
}


